*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}


/******************************
COMMON
/******************************/
.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.grow{
    flex-grow: 1;
}

.jsb{
    justify-content: space-between;
}

.jc{
    justify-content: center;
}

/* color text */
.white{
    color: white;
}

.black{
    color: black;
}

/* bg color */
.bg-white{
    background-color: white;
}

.bg-lightblue{
    background-color:rgb(0, 132, 253);
}

.bg-cyan{
    background-color: rgb(181, 221, 255);
}

.bg-lilla{
    background-color: rgb(151, 146, 228);
}

/******************************
NAVBAR
/******************************/
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;    
}

.navbar{
    width: 100%;
    padding: 20px;
    align-items: center;
}

.navbar-list li{
    list-style-type: none;
    padding: 0 .7rem;
    display: none;
}

.btn{
    padding: 0.7em 0.9em;
    border-radius: 20px;
}

@media screen and (min-width: 992px){

    .navbar{
        width: 80%;   
    }

    .navbar-list li{
        display: block;
    }
    .menu-ham{
        display: none;
    }
}

/******************************
SECTION TOOL
/******************************/
main{
    padding-top: 100px;    
}

.tool{
    align-items: center;
    width: 100%;
    padding: 5%;
    gap: 20px;
    /* debug */
    /* background-color: rgb(255, 254, 254); */
    height: 1000px;
}

.card{
    width: 90%;
    height: calc(100% / 6);
    border-radius: 15px;
     /* debug */
}

.card.big{
    /* height: 450px; */
}

@media screen and (min-width: 768px) {
    .tool{
        flex-direction: row;
        flex-wrap: wrap;
        height: min-content;
        justify-content: space-between;
    }

    .card.big{
        width: 60%;
    }

    .card.normal{
        width: calc(100% / 3 - 20px);
    }

    .card{
        height: 300px;
    }
}

@media screen and (min-width: 992px) {

    .tool{
        margin:0 auto;
        width: 80%;
    }
    
}


/******************************
SECTION STRATEGY
/******************************/

.strategy{
    padding: 5%;
    gap: 20px;
    align-items: center;
    width: 100%;
    height: 1100px;
    ;

}


.card.photo,
.card.text,
.card.app{
    background-color: rgb(214, 169, 255);
}

.card.photo,
.card.app{
    height: 500px;
}


@media screen and (min-width: 768px) {
    .strategy{
        height: 1500px;
    }
    
    .card.photo,
    .card.app{
        height: 700px;
    }
}

@media screen and (min-width: 992px) {

    .strategy{
        justify-content: flex-end;
        /* flex-direction: row; */
        margin: 0 auto;
        width: 80%;
        height: 1000px;
        flex-wrap: wrap;
    }

    .card.photo,
    .card.app
    {
        width: 45%;
    }

    .card.photo{
        height: 900px;
    }

    .card.app{
        height: 700px;
    }
}

/******************************
SECTION TESTIMONIAL
/******************************/



/******************************
SECTION BENEFIT
/******************************/



/******************************
SECTION ABOUT US
/******************************/



/******************************
SECTION PRE FOOTER
/******************************/



/******************************
SECTION FOOTER
/******************************/



