/****************************
RESET
/***************************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
}

/******************************
COMMON
/******************************/

body{
    font-family: 'Pt Sans';
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.grow {
    flex-grow: 1;
}

.jsb {
    justify-content: space-between;
}

.jc {
    justify-content: center;
}

.card {
    border-radius: 15px;
    text-align: center;
    padding: 1.2rem 1.2rem 0 1.2rem;
}

.btn {
    padding: 0.8rem 1.2rem;
    border-radius: 20px;
    display: inline-block;
}

.icon {
    padding-bottom: 1.2rem;
    font-size: clamp(2rem, 5vw, 4rem);
}

/******************************************* 
FONT
/******************************************/
.card h2 {
    font-size: clamp(1rem, 5vw, 2rem);
    padding-bottom: 0.625rem;
}

.card h3 {
    font-size: calc(2vw + 0.6rem);
}

.card p{
    font-size: clamp(0.8rem, 1vw, 2rem);
}

.card .icon-btn,
.card span {
    font-size: clamp(1rem, 1vw, 2rem);
}

/*****************************
COLOR TEXT 
/****************************/

.white {
    color: rgb(255, 255, 255);
}

.black {
    color: rgb(0, 0, 0);
}

.yellow {
    color: rgb(253, 193, 95);
}

.lilla {
    color: rgb(151, 146, 228);
}

.lightblue {
    color: rgb(0, 132, 253);
}

/*****************************
BACKGROUND-COLOR
/****************************/

.bg-white {
    background-color: rgb(255, 255, 255);
}

.bg-black {
    background-color: rgb(51, 51, 51);
}

.bg-lightblue {
    background-color: rgb(0, 132, 253);
}

.bg-cyan {
    background-color: rgb(181, 221, 255);
}

.bg-lilla {
    background-color: rgb(151, 146, 228);
}

/******************************
SECTION NAVBAR
/******************************/

header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.navbar {
    width: 100%;
    padding: 1.2rem;
    align-items: center;
}

.navbar-list li {
    list-style-type: none;
    font-size: .7rem;
    padding: 0.8rem 1.2rem;
    display: none;
}

/******************************
SECTION TOOL
/******************************/

main {
    padding-top: 6.25rem;
}

.card.big {
    justify-content: space-between;
    height: min-content;
}

.tool {
    width: 100%;
    padding: 1rem;
    gap: 20px;
}

.tool p {
    padding: 1rem 0;
}

.tool-img img {
    padding-top: 1rem;
    display: block;
}

.tool-img h2 {
    padding-top: 1rem;
}

.tool-img p,
.tool-img h2 {
    text-align: left;
}

/******************************
SECTION STRATEGY
/******************************/

.strategy {
    padding: 1rem;
    gap: 20px;
    width: 100%;
    justify-content: center;
    height: min-content;
}

.strategy h2 {
    font-size: clamp(2rem, 3vw, 4rem);
}

.strategy .app img,
.strategy .photo img {
    width: 50%;
}

.card.app span {
    display: block;
    margin-bottom: 20px;
}

.card.app {
    padding: 1rem;
}

.card.app a {
    padding: .7rem 1rem;
    border-radius: 50%;
}

/******************************
SECTION TESTIMONIAL
/******************************/

.testimonial {
    padding: 1rem;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.testimonial-text {
    width: 80%;
}

.testimonial-text span{
    font-size: clamp(1rem, 1vw, 2rem);
}

.testimonial-text span {
    display: block;
}

.testimonial-text span,
.testimonial-text h2 {
    padding-bottom: 1.2rem;
}

.testimonial .card {
    width: 90%;
}

.testimonial-img img {
    width: 50%;
    aspect-ratio: 1;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
}

blockquote {
    padding: 1rem 0;
}

blockquote .reverse {
    rotate: 180deg;
}

.card-testimonial {
    align-items: center;
}

.card-testimonial .author {
    padding-top: 1rem;
}

/******************************
SECTION BENEFIT
/******************************/

section .benefit {
    justify-content: center;
}

.benefit-title {
    text-align: center;
    padding: 2rem;
}

.benefit {
    padding: 1.2rem;
    gap: 20px;
    align-items: center;
}

.benefit .card {
    width: 90%;
    padding: 1.2rem;
    text-align: left;
}

.benefit strong {
    font-size: 3rem;
}

.benefit p {
    padding: 1.2rem;
}

/******************************
SECTION ABOUT US
/******************************/

.about-us {
    align-items: center;
    width: 100%;
    padding: 1rem;
    gap: 20px;
}

.about-us-text {
    padding: 1.2rem;
}

.about-us h2 {
    font-size: clamp(2rem, 4vw, 5rem);
    padding-bottom: 1.2rem;
}


.about-us-text p {
    font-size: clamp(0.8rem, 1vw, 2rem);
    padding-bottom: 1.6rem;
}

.author-img {
    position: relative;
}

.about-us-author {
    width: 60%;
    padding: 1.2rem;
}

.about-us-author i {
    position: absolute;
    top: 0;
    right: 1%;
    font-size: 3.2rem;
}

.about-us blockquote strong {
    font-size: clamp(1rem, 1.2rem);
}

.about-us-author img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.about-us-author a {
    display: inline-block;
}

/******************************
SECTION PRE FOOTER
/******************************/

.prefooter {
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.prefooter span {
    display: block;
    padding: 1rem;
}

.prefooter>span:first-child {
    color: rgb(200, 198, 227);
}

.prefooter .motivation {
    padding-bottom: 1.7rem;
}

.prefooter h2 {
    font-size: 2.5rem;
}

.prefooter .yellow {
    padding-top: 1rem;
    font-size: 3.75rem;
}

.prefooter>a {
    padding: .5rem 4rem;
    border-radius: 20px;
}

.prefooter span a {
    text-decoration: underline;
}

/******************************
SECTION FOOTER
/******************************/

.footer {
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.footer span {
    display: block;
}

.footer span:first-child {
    padding-bottom: 2rem;
}

.footer span a {
    color: rgb(151, 146, 228);
    text-decoration: underline;
}