*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}

/******************************
COMMON
/******************************/
.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.grow{
    flex-grow: 1;
}

.jsb{
    justify-content: space-between;
}

.jc{
    justify-content: center;
}
.card{
    border-radius: 15px;
    text-align: center;
    padding: 1.2rem 1.2rem 0 1.2rem;
}

.card h2{
    font-size: calc(1.6vw + .5rem);
    padding-bottom: 0.625rem;
}

.card h3{
    font-size: calc(2vw + 0.6rem);
}

.btn{
    padding: 0.8rem 1.2rem;
    border-radius: 20px;
    display: inline-block;    
}

.icon{
    padding-bottom: 1.2rem;
    font-size:calc(6vw + 0.5rem);
}

/* color text */
.white{
    color: rgb(255, 255, 255);
}

.black{
    color: rgb(0, 0, 0);
}

.yellow{
    color: rgb(253, 193, 95);
}

.lilla{
    color: rgb(151, 146, 228);
}

.lightblue{
    color:rgb(0, 132, 253);
}

/* bg color */
.bg-white{
    background-color: rgb(255, 255, 255);
}

.bg-black{
    background-color: rgb(51, 51, 51);
}

.bg-lightblue{
    background-color:rgb(0, 132, 253);
}

.bg-cyan{
    background-color: rgb(181, 221, 255);
}

.bg-lilla{
    background-color: rgb(151, 146, 228);
}

/******************************
NAVBAR
/******************************/
header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;    
}

.navbar{
    width: 100%;
    padding: 1.2rem;
    align-items: center;
    

}

.navbar-list li{
    list-style-type: none;
    font-size: calc(.6vw + 0.8rem);
    padding: 0.8rem 1.2rem;
    display: none;
}

@media screen and (min-width: 992px){

    .navbar{
        width: 80%;   
    }

    .navbar-list li{
        display: block;
    }
    .menu-ham{
        display: none;
    }
}

/******************************
SECTION TOOL
/******************************/
main{
    padding-top: 6.25rem;    
}

.card.big{
    justify-content: space-between;
    height: min-content;
}

.tool{
    width: 100%;
    padding: 1rem;
    gap: 20px;
}

.tool p{
    padding: 1rem 0;
    font-size: calc(1vw + 0.5rem);
}

.tool .card{
    width: 90%;
}

.card .icon-btn,
.card span{
    font-size: calc(10px 2vw 45px);
}

.tool-img img{
    padding-top: 1rem;
    display: block;
}

.tool-img h2{
    padding-top: 1rem;
}

.tool-img p,
.tool-img h2{
    text-align: left;
}

@media screen and (min-width: 768px) {
    
    .card.big{
        text-align: left;
        height: min-content;
        width: 40%;
    }
    
    .tool{
        flex-direction: row;
        flex-wrap: wrap;
        height: min-content;
        justify-content: space-between;
    }

    .card.normal{
        width: calc(100% / 3 - 20px);
    }

    .tool-text{
        width: 100%;
    }


    .tool-img img{
        width: 50%;
    }
}

@media screen and (min-width: 992px) {

    .card.big{
        flex-direction: row;
        align-items: flex-end;
    }
.tool .btn{
    margin-bottom: 1rem;
}


    .tool{
        margin:0 auto;
        width: 80%;
    }

    .tool-text{
        width: 50%;
    }

    .tool-img{
        width: 50%;
    }

    .tool-img img{
        width: 100%;
    }
}

/******************************
SECTION STRATEGY
/******************************/

.strategy{
    padding: 1rem;
    gap: 20px;
    width: 100%;
    justify-content: center;
    height: min-content;
}

.strategy h2{
    font-size: clamp(2rem, 3vw, 4rem);
}

.strategy .app img,
.strategy .photo img{
    width: 50%;
}

.card.app span{
    display: block;
    margin-bottom: 20px;
}
.card.app{
    padding: 1rem;
}

.card.app a{
    padding: .7rem 1rem;
    border-radius: 50%;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {

    .strategy{
        flex-direction: row;
        align-items: flex-end;
        margin: 0 auto;
        width: 80%;
        flex-wrap: wrap;
    }

    .card.photo,
    .card.app
    {
        width: 45%;
    }
}

/******************************
SECTION TESTIMONIAL
/******************************/

.testimonial{
    padding: 1rem;
    gap: 20px;
    text-align: center;
    align-items: center;
}

.testimonial-text{
    width: 80%;
}

.testimonial-text span{
    display: block;
    
}

.testimonial-text span,
.testimonial-text h2{
    padding-bottom: 1.2rem;
}

.testimonial .card{
    width: 90%;
}

.testimonial-img img{
    width: 70%;
    aspect-ratio: 1;
    object-position: center;
    object-fit: cover;
    border-radius: 50%;
}

blockquote{
    padding: 1rem 0;
}

blockquote .reverse{
    rotate: 180deg;
}

.card-testimonial{
    align-items: center;
}

.card-testimonial .author{
    padding-top: 1rem;
}

.card-testimonial .author strong{
 font-size: 1.2rem;
}



@media screen and (min-width: 768px) {

    .card-testimonial{
        flex-direction: row;
        padding: 1rem;
    }

    .testimonial{
         padding: 0.4rem;
    }

    .testimonial-img{
        width: 40%;
    }
    
}

@media screen and (min-width: 992px) {

    .testimonial{
        width: 80%;
        margin: 0 auto;
    }
    
}

/******************************
SECTION BENEFIT
/******************************/
section .benefit{
    justify-content: center;
}

.benefit-title{
    text-align: center;
    padding: 2rem;
}

.benefit{
    padding: 1.2rem;
    gap: 20px;
    align-items: center;
}

.benefit .card{
    width: 90%;
    padding: 1.2rem;
    text-align: left;
}

.benefit span{
    font-size: 3rem;
}

.benefit p{
    padding: 1.2rem;
}


@media screen and (min-width: 768px) {
    
    .benefit{
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .benefit .card{
        width: 45%;
    }
}

@media screen and (min-width: 992px) {

    .benefit{
        margin: 0 auto;
        width: 80%;
    }

    .benefit .card{
        width: 28%;
    }
}

/******************************
SECTION ABOUT US
/******************************/

.about-us{
    align-items: center;
    width: 100%;
    padding: 1rem;
    gap: 20px;
}

.about-us-text{
    padding: 1.2rem;
}

.about-us h2{
    font-size: 2.5rem;
    padding-bottom: 1.2rem;
}

.about-us-text p{
    padding-bottom: 1.6rem;
}

.author-img{
    position: relative;
}

.about-us-author{
    width: 60%;
    padding: 1.2rem;
}

.about-us-author i{
    position: absolute;
    top: 0;
    right: 1%;
    font-size: 3.2rem;
}

.about-us blockquote strong{
    font-size: 1.2rem;
}

.about-us-author img{
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
}

.about-us-author a{
    display: inline-block;
}


@media screen and (min-width: 768px) {
    .about-us{
        flex-direction: row;
        justify-content: center;
    }    

    .about-us-text{
        width: 40%;
    }

    .about-us-author{
        width: 30%;
    }

}

@media screen and (min-width: 992px) {

    .about-us{
        justify-content: center;
        margin: 0 auto;
        width: 80%;
    }

    .about-us-text{
        width: 65%;
    }

    .about-us-author{
        width: 25%;
        padding: 1rem;
    }

}

/******************************
SECTION PRE FOOTER
/******************************/

.prefooter{
    width: 100%;  
    padding: 1rem; 
    text-align: center; 
}

.prefooter span{
    display: block;
    padding: 1rem;
}

.prefooter>span:first-child{
    color: rgb(200, 198, 227);
}

.prefooter .motivation{
    padding-bottom: 1.7rem;
}

.prefooter h2{
    font-size: 2.5rem;
}

.prefooter .yellow{
    padding-top: 1rem;
    font-size: 3.75rem;
}

.prefooter>a{
    padding: .5rem 4rem;
    border-radius: 20px;
}

.prefooter span a{
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    /* nothing at the moment */
}

@media screen and (min-width: 992px) {
    .prefooter{
        margin: 0 auto;
        width: 80%;
    }    
}

/******************************
SECTION FOOTER
/******************************/

.footer{
    padding: 1rem;
    width: 100%;
    text-align: center;
}

.footer span{
    display: block;
}

.footer span:first-child{
    padding-bottom: 2rem ;
}

.footer span a{
    color: rgb(151, 146, 228);
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .footer{
        width: 60%;
        margin: 0 auto;
    }
}


@media screen and (min-width: 992px) {
    .footer{
        width: 40%;
    }
}

